// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  position: relative;

  .container {
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  &:before {
    content: '';
    display: block;
    // box-sizing: padding-box;
    position: absolute;
    z-index: -1;
    top: 0;
    left: calc((100vw / -2) + 50%);
    width: 100vw;
    height: calc(#{$h1} + #{$h2} + 4px);
    border-top: $h1 solid #353c3e;
    border-bottom: 4px solid #000;
    background-color: #40494c;
  }

  &__row1 {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: $h1;
  }

  &__row2 {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: $h2;
  }

  &__slogan {
    align-self: center;

    p {
      align-self: center;
      margin: 0;
      padding: 0;
      text-align: right;
      @include Montserrat-Regular(13px, #959595);
      font-style: italic;
    }
  }

  &__search {
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100%;
    background-color: $form-gray;

    &-input {
      width: 60%;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      outline: 0;
      @include Montserrat-Regular(13px, #fff);
    }

    &-submit-wrap {
      position: relative;
      height: 100%;
      width: 40%;
    }

    &-submit {
      position: relative;
      width: 100%;
      border: none;
      background-color: rgba(0, 0, 0, 0);
      outline: 0;
      color: rgba(0, 0, 0, 0);
      cursor: pointer;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 50%;
        @include sprite($find);
      }
    }
  }
}
