@mixin Montserrat-Regular($mx-font-size, $mx-font-color) {
  font-family: 'Montserrat Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: $mx-font-size;
  color: $mx-font-color;
}

@mixin Montserrat-Bold($mx-font-size, $mx-font-color) {
  font-family: 'Montserrat Bold', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: $mx-font-size;
  color: $mx-font-color;
}

@mixin Quicksand-Bold($mx-font-size, $mx-font-color) {
  font-family: 'Quicksand Bold', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: $mx-font-size;
  color: $mx-font-color;
}

@mixin h2-text {
  margin-top: 0;
  margin-bottom: 12px;
  padding: 0;
  @include Montserrat-Bold(16px, $dark-gray);
  text-transform: uppercase;
  line-height: 22px;
}

@mixin example-header() {

  &__slider-inner {
    align-items: stretch;
  }

  &__head {
    @include h2-text;
  }

  &__text {
    @include Montserrat-Regular(12px, #8f8f8f);
    line-height: 21px;
  }
}
