extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

//- block append head
//-   link(rel='stylesheet', href='css/some.css')

block header
  +page-header()
    .page-header__row1.container
      +logo('/')(class='col-8')
        .logo__img-wrap
          img(src='img/pencil.png', alt='Logo', height='15')
        p ILLUSTRATE.
      .page-header__slogan.col-14
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.

    .container.page-header__row2
      +main-nav('')(class='col-17')
      form.page-header__search.col-7(method='get', action='', id='header-search')
        input.page-header__search-input(type='text', placeholder='search')
        .page-header__search-submit-wrap
          input.page-header__search-submit(type='submit', value='')

block content
  section.main-slider
    .main-slider__inner.owl-carousel.owl-carousel-1
      .main-slider__img-wrap
        img(src='img/ImageArt.png', alt='')
    .main-slider__title
      h1 Graphic Designer &amp; Illustrator #[span Create/tor]
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum.

  .subhead
    p.subhead__head Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur nisi a dolor iaculis id viverra lectus facilisis. Curabitur diam tellus,
    p.subhead__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur nisi a dolor iaculis id viverra lectus facilisis. Curabitur diam tellus, fermentum id aliquet non, rhoncus et orci. Aenean ac tellus turpis, nec porttitor elit.

  section.recent-work.container
    .col-6
      h2.recent-work__head RECENT WORK
      p.recent-work__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum.
    .recent-work__slider.col-18.owl-carousel.owl-carousel-2
      article.example
        .example__img-wrap
          img(src='img/work01.png', alt='')
        h3.example__head Me so hungry
        p.example__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas dignissim tincidunt. Nam sit amet quam sed dolor ullamcorper luctus. Nulla facilisi. Donec fringilla ante a massa eleifend euismod. Quisque ipsum mauris, consequat ac varius nec, sodales nec est. Sed eleifend imperdiet dignissim. Fusce nec elit justo, convallis sollicitudin lectus. Aenean tempus bibendum erat nec ultricies. Phasellus non risus eget dolor placerat aliquam nec vehicula nibh. Nullam sit amet interdum turpis. Phasellus rhoncus nunc a erat laoreet lobortis. Nullam eget viverra libero. Quisque eget erat et neque posuere sodales.
      article.example
        .example__img-wrap
          img(src='img/work02.png', alt='')
        h3.example__head Art Again
        p.example__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas dignissim tincidunt. Nam sit amet quam sed dolor ullamcorper luctus. Nulla facilisi. Donec fringilla ante a massa eleifend euismod. Quisque ipsum mauris, consequat ac varius nec, sodales nec est. Sed eleifend imperdiet dignissim. Fusce nec elit justo, convallis sollicitudin lectus. Aenean tempus bibendum erat nec ultricies. Phasellus non risus eget dolor placerat aliquam nec vehicula nibh. Nullam sit amet interdum turpis. Phasellus rhoncus nunc a erat laoreet lobortis. Nullam eget viverra libero. Quisque eget erat et neque posuere sodales.
      article.example
        .example__img-wrap
          img(src='img/work03.png', alt='')
        h3.example__head Me so hungry
        p.example__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas dignissim tincidunt. Nam sit amet quam sed dolor ullamcorper luctus. Nulla facilisi. Donec fringilla ante a massa eleifend euismod. Quisque ipsum mauris, consequat ac varius nec, sodales nec est. Sed eleifend imperdiet dignissim. Fusce nec elit justo, convallis sollicitudin lectus. Aenean tempus bibendum erat nec ultricies. Phasellus non risus eget dolor placerat aliquam nec vehicula nibh. Nullam sit amet interdum turpis. Phasellus rhoncus nunc a erat laoreet lobortis. Nullam eget viverra libero. Quisque eget erat et neque posuere sodales.

  section.from-the-blog.container
    .col-6
      h2.from-the-blog__head From the Blog
      p.from-the-blog__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum.
    .from-the-blog__slider.col-18
      article.example
        .example__img-wrap
          img(src='img/blog01.png', alt='')
        h3.example__head Krzysztof Nowak
        p.example__date 14th April
        p.example__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas dignissim tincidunt. Nam sit amet quam sed dolor ullamcorper luctus. Nulla facilisi. Donec fringilla ante a massa eleifend euismod. Quisque ipsum mauris, consequat ac varius nec, sodales nec est. Sed eleifend imperdiet dignissim. Fusce nec elit justo, convallis sollicitudin lectus. Aenean tempus bibendum erat nec ultricies. Phasellus non risus eget dolor placerat aliquam nec vehicula nibh. Nullam sit amet interdum turpis. Phasellus rhoncus nunc a erat laoreet lobortis. Nullam eget viverra libero. Quisque eget erat et neque posuere sodales.
      article.example
        .example__img-wrap
          img(src='img/blog02.png', alt='')
        h3.example__head Krzysztof Nowak
        p.example__date 9th April
        p.example__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas dignissim tincidunt. Nam sit amet quam sed dolor ullamcorper luctus. Nulla facilisi. Donec fringilla ante a massa eleifend euismod. Quisque ipsum mauris, consequat ac varius nec, sodales nec est. Sed eleifend imperdiet dignissim. Fusce nec elit justo, convallis sollicitudin lectus. Aenean tempus bibendum erat nec ultricies. Phasellus non risus eget dolor placerat aliquam nec vehicula nibh. Nullam sit amet interdum turpis. Phasellus rhoncus nunc a erat laoreet lobortis. Nullam eget viverra libero. Quisque eget erat et neque posuere sodales.
      article.example
        .example__img-wrap
          img(src='img/blog03.png', alt='')
        h3.example__head Krzysztof Nowak
        p.example__date 23th March
        p.example__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas dignissim tincidunt. Nam sit amet quam sed dolor ullamcorper luctus. Nulla facilisi. Donec fringilla ante a massa eleifend euismod. Quisque ipsum mauris, consequat ac varius nec, sodales nec est. Sed eleifend imperdiet dignissim. Fusce nec elit justo, convallis sollicitudin lectus. Aenean tempus bibendum erat nec ultricies. Phasellus non risus eget dolor placerat aliquam nec vehicula nibh. Nullam sit amet interdum turpis. Phasellus rhoncus nunc a erat laoreet lobortis. Nullam eget viverra libero. Quisque eget erat et neque posuere sodales.

  section.about.container
    article.about__item.about__item--author.col-12
      h3.about__head About the Author
      p.about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas dignissim tincidunt. Nam sit amet quam sed dolor ullamcorper luctus. Nulla facilisi. Donec fringilla ante a massa eleifend euismod. Quisque ipsum mauris, consequat ac varius nec, sodales nec est. Sed eleifend imperdiet dignissim. Fusce nec elit justo, convallis sollicitudin lectus. Aenean tempus bibendum erat nec ultricies. Phasellus non risus eget dolor placerat aliquam nec vehicula nibh. Nullam sit amet interdum turpis. Phasellus rhoncus nunc a erat laoreet lobortis. Nullam eget viverra libero. Quisque eget erat et neque posuere sodales.
      .about__pic--author
    article.about__item.about__item--bloody-text.col-12
      h3.about__head We’ll It’s a bloody text box init?
      p.about__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis laoreet laoreet leo at dictum. Sed egestas dignissim tincidunt. Nam sit amet quam sed dolor ullamcorper luctus. Nulla facilisi. Donec fringilla ante a massa eleifend euismod. Quisque ipsum mauris, consequat ac varius nec, sodales nec est. Sed eleifend imperdiet dignissim. Fusce nec elit justo, convallis sollicitudin lectus. Aenean tempus bibendum erat nec ultricies. Phasellus non risus eget dolor placerat aliquam nec vehicula nibh. Nullam sit amet interdum turpis. Phasellus rhoncus nunc a erat laoreet lobortis. Nullam eget viverra libero. Quisque eget erat et neque posuere sodales.
      .about__pic--bloody-text


block footer
  +page-footer()

    p Duis euismod, mauris id rutrum volutpat, ipsum risus vestibulum metus, ac pharetra libero magna ac orci. Praesent sodales elit id sapien commodo placerat. Etiam varius dui vitae tellus hendrerit aliquam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas justo justo, scelerisque quis porta et,

block page-bottom
  script(src='js/jquery-3.4.1.min.js')
  script(src='js/script.js')
