// В этом файле должны быть стили для БЭМ-блока logo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.logo {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-direction: row;
  align-content: center;
  white-space: nowrap;
  @include Montserrat-Bold(20px, #fff);
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: #fff;
  }

  &__img-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    z-index: 1;
    margin-bottom: -5px;
    width: 75px;
    height: 82px;
    border-bottom: 3px solid $design-color2;
    background-color: $design-color;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: none;
  }

  p {
    align-self: center;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 18px;

    // &:before {
    //   content: '';
    //   display: block;
    //   position: absolute;
    //   left: 0;
    //   top: 0;
    //   width: 75px;
    //   height: 82px;
    //   background-color: $design-color;
    // }
  }
}
