// В этом файле должны быть стили для БЭМ-блока main-slider, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.main-slider {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  flex-direction: row;
  align-content: center;
  position: relative;
  height: 563px;
  min-width: 100%;


  &__inner {
    display: flex;

    position: relative;
    height: 563px;
    width: 100%;
    min-width: 100%;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: calc(50% - (552px / 2));
    left: calc(50% - (552px / 2));
    z-index: 10;
    margin: 0;
    width: 552px;
    height: 552px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: calc(552px / 2);
    border: 20px solid $body-bg;
    background-color: #fff;

    h1 {
      @include Montserrat-Bold(51px, $text-design-color);
      line-height: 43px;
      text-transform: uppercase;
      text-align: center;

      span {
        color: $design-color;
      }
    }

    p {
      @include Montserrat-Regular(13px, $text-dark-gray);
      line-height: 22px;
      text-align: center;
    }
  }
}
