// В этом файле должны быть стили для БЭМ-блока owl-carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

// .owl-carousel {

//   $block-name:                &; // #{$block-name}__element
// }

@import 'scss/owl.carousel.scss';
@import 'scss/owl.theme.default.scss';
// @import 'scss/_autoheight.scss';

@mixin arrow() {
  display: block;
  position: absolute;
  // top: 50%;
  top: calc((341px - 34px) / 2);
  width: 34px;
  height: 34px;
  color: rgba(0, 0, 0, 0);
}

@mixin arrow-2() {
  display: block;
  position: absolute;
  top: calc((181px - 20px) / 2);
  color: rgba(0, 0, 0, 0);
}

.owl-slider-1 {

  .owl {

    $block-name:                &; // #{$block-name}__element
  }
}

.owl-slider-2 {

  .owl {

  }
}
